---
import PageLayout from "../layouts/PageLayout.astro";
import { getAPIKeys } from "../server/keys";
const user = Astro.locals.user;

const keys = user ? await getAPIKeys(user.id) : [];
---

{
	user ? (
		<PageLayout title="Welcome back!">
			<h1>Welcome back, {user.name}!</h1>
			<br />
			<div>
				<h2>Your API keys</h2>
				<p>
					These are your API keys. Keep them secret! You can use them to access
					your data from the API.
				</p>
				{keys.length === 0 ? (
					<p>You don't have any keys yet.</p>
				) : (
					<ul>
						{keys.map((key) => (
							<li>
								<code>{key.hash}</code>
								{" "}
								<a data-keyid={key.id} class='delete-key'>&times;</a>
							</li>
						))}
					</ul>
				)}
			</div>
			<a id="add-key" href="#">
				+ generate
			</a>
		</PageLayout>
	) : (
		<PageLayout title="Welcome!">
			<h1>Welcome!</h1>
			<p>Sign in to access your dashboard...</p>
		</PageLayout>
	)
}

<script>
	async function add_key() {
		const res = await fetch("/api/keys/create", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
		});
		try {
			const data = await res.json();
			if (data.error) throw new Error(data.error);
			location.reload();
		} catch (err) {
			console.error(err);
			alert(err);
		}
	}

	async function delete_key(id: string) {
		const res = await fetch(`/api/keys/${id}/delete`, {
			method: "DELETE",
			headers: {
				"Content-Type": "application/json",
			},
		});
		try {
			const data = await res.json();
			if (data.error) throw new Error(data.error);
			location.reload();
		} catch (err) {
			console.error(err);
			alert(err);
		}
	}

	document.getElementById("add-key")?.addEventListener("click", add_key);
	document.querySelectorAll(".delete-key").forEach((el) => {
		el.addEventListener("click", (e) => {
			// @ts-ignore
			const keyid = e.target.getAttribute("data-keyid");
			delete_key(keyid);
		});
	});
</script>
