---
import { Code } from "astro:components";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="devpad">
	<h3>API</h3>
	<div class="flex-col" style="gap: 5px;">
		<span>The API is available at <a href="https://devpad.tools/api/v0">devpad.tools/api/v0</a></span>
		<span>You should put an <code>API_KEY</code> in the <code>Authorization</code> header for each request in this format:</span>
		<Code code={`Authorization: Bearer <API_KEY>`} lang="http" />
		<span>API keys are generated on the <a href="/account">account</a> page.</span>
  </div>
	<br />
  <div class="flex-col">
    <section>
      <h4>projects</h4>
      <p>This endpoint fetches the data associated with each project. Note that only projects with <code>visibility == "PUBLIC"</code> will be returned in <code>/projects</code> (with no query params)</p>
      <div class="flex-col" style="gap: 10px;">
	    <div>
			<code>GET /projects</code>
			<ul style="padding-left: 20px;">
				<p class="flex-row"><code>200 - Array&ltProject&gt</code></p>
				<p class="flex-row"><code>401 - Unauthorized</code></p>
			</ul>
		</div>
		<div>
			<code>GET /projects?id=&ltstring&gt - id is project.id</code>
			<ul style="padding-left: 20px;">
				<p class="flex-row"><code>200 - Project</code></p>
				<p class="flex-row"><code>401 - Unauthorized</code></p>
				<p class="flex-row"><code>404 - Not Found</code></p>
				<p class="flex-row"><code>500 - Internal Server Error</code></p>
			</ul>		
		</div>
		<div>
			<code>GET /projects?name=&ltstring&gt - name is project.project_id</code>
			<ul style="padding-left: 20px;">
				<p class="flex-row"><code>200 - Project</code></p>
				<p class="flex-row"><code>401 - Unauthorized</code></p>
				<p class="flex-row"><code>404 - Not Found</code></p>
				<p class="flex-row"><code>500 - Internal Server Error</code></p>
			</ul>
		</div>
	  </div>

      <pre><Code code={`type Project = {
    id: string;
    project_id: string;
    owner_id: string;
    name: string;
    description: string | null;
    specification: string | null;
    repo_url: string | null;
    repo_id: string | null;
    icon_url: string | null;
    status: "DEVELOPMENT" | "PAUSED" | "RELEASED" | "LIVE" | "ABANDONED" | "STOPPED";
    deleted: boolean;
    link_url: string | null;
    link_text: string | null;
    visibility: "PUBLIC" | "PRIVATE" | "HIDDEN" | "ARCHIVED" | "DRAFT" | "DELETED";
    current_version: string | null;
    scan_branch: string | null;
};`} lang="ts" /></pre>
    </section>
    <section>
      <h4>tasks</h4>
      <p>This endpoint retrieves task information. Note that only tasks with <code>visibility == "PUBLIC"</code> will be returned in <code>/tasks</code> (with no query params)</p>
      <div class="flex-col" style="gap: 10px;">
      <div>
        <code>GET /tasks</code>
        <ul style="padding-left: 20px;">
        <p class="flex-row"><code>200 - Array&ltTaskUnion&gt</code></p>
        <p class="flex-row"><code>401 - Unauthorized</code></p>
        </ul>
      </div>
      <div>
        <code>GET /tasks?id=&ltstring&gt - id is task.id</code>
        <ul style="padding-left: 20px;">
        <p class="flex-row"><code>200 - TaskUnion</code></p>
        <p class="flex-row"><code>401 - Unauthorized</code></p>
        <p class="flex-row"><code>404 - Not Found</code></p>
        <p class="flex-row"><code>500 - Internal Server Error</code></p>
        </ul>
      </div>
      <div>
        <code>GET /tasks?tag=&ltstring&gt - tag is task.tag</code>
        <ul style="padding-left: 20px;">
        <p class="flex-row"><code>200 - Array&ltTaskUnion&gt</code></p>
        <p class="flex-row"><code>401 - Unauthorized</code></p>
        <p class="flex-row"><code>404 - Not Found</code></p>
        <p class="flex-row"><code>500 - Internal Server Error</code></p>
        </ul>
      </div>
      <div>
        <code>GET /tasks?project=&ltstring&gt - project is task.project_id</code>
        <ul style="padding-left: 20px;">
        <p class="flex-row"><code>200 - Array&ltTaskUnion&gt</code></p>
        <p class="flex-row"><code>401 - Unauthorized</code></p>
        <p class="flex-row"><code>404 - Not Found</code></p>
        <p class="flex-row"><code>500 - Internal Server Error</code></p>
        </ul>
      </div>
      </div>

      <pre><Code code={`type Task = {
    id: string;
    project_id: string;
    owner_id: string;
    title: string;
    description: string;
    start_time: string | null;
    end_time: string | null;
    priority: "LOW" | "MEDIUM" | "HIGH";
    visibility: "PUBLIC" | "PRIVATE" | "HIDDEN" | "ARCHIVED" | "DRAFT" | "DELETED";
};

type CodebaseTask = {
    id: string;
    branch: string;
    commit_sha: string;
    commit_msg: string;
    commit_url: string;
    type: string;
    text: string;
    file: string;
    line: number;
    context: string[];
    created_at: string;
    updated_at: string;
    deleted: boolean | null;
    recent_scan_id: number;
};
  
type TaskUnion = {
    task: Task;
    codebase_task: CodebaseTask;
    tags: string[];
};`} lang="ts" /></pre>
    </section>
  </div>
</PageLayout>

<style>
  .flex-col {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 2px;
  }

  li {
    margin-bottom: 5px;
  }

  ul li:last-child {
    margin-bottom: 0;
  }
</style>
