---
import Layout from "../layouts/Layout.astro";

const blah = Astro.locals;
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>devpad</h1>
		<p>for developers.</p>
		<br />
		<nav>
			<a href="/explore">explore</a>
			<a>api</a>
			<a>login</a>
		</nav>
		<pre>{JSON.stringify(blah, null, 2)}</pre>
	</main>
</Layout>

<style>
	nav {
		display: flex;
		flex-direction: column;
	}
</style>
