---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Welcome to Astro.">
	<h3>tools</h3>
	<br />
	<div class="flex-col">
		<section>
			<h5 class="flex-row">todo tracker <span class="version-tag">v2.2</span></h5>
			<p class="description">
				keep track of your in-code todo notes across github projects, assign priority, due dates, descriptions & checklists to each task, and link it back to the destination in your codebase
			</p>
			<a href="/todo">get started</a>
		</section>
		<section>
			<h5 class="flex-row">project manager<span class="version-tag">v1.0</span></h5>
			<p class="description">
				manage your side projects & link github repo for easy integration with todo-tracker. manage groups of tasks under 'goals', build a development roadmap, and view recent activity for
				each project
			</p>
			<a href="/project">get started</a>
		</section>
		<section>
			<h5 class="flex-row">task calendar</h5>
			<p class="description">
				view upcoming deadlines for todo tasks, project milestones and other defined deliverables. schedule blocks of work for each project & write a report after completion that can be viewed
				from the project manager
			</p>
			<a>get started</a>
		</section>
	</div>
</PageLayout>
