---
import { getServerApiClient, rethrow } from "@/utils/api-client";
import PageLayout from "@/layouts/PageLayout.astro";
import HistoryTimeline from "@/components/solid/HistoryTimeline";

const user = Astro.locals.user;

if (!user) {
	return new Response(null, { status: 401, statusText: "Unauthorized" });
}

const api_client = getServerApiClient(Astro.locals);

const keys_result = await api_client.auth.keys.list();
if (!keys_result.ok) return rethrow(keys_result.error);
const keys = keys_result.value;

const history_result = await api_client.user.history();
if (!history_result.ok) return rethrow(history_result.error);
const user_history = history_result.value;
---

<PageLayout title="Account - devpad">
	<div class="flex-col" style="gap: 15px;">
		<a href="/api/auth/logout" style="width: min-content;">logout</a>
		<br />
		<h3>api keys</h3>
		{
			keys.length === 0 ? (
				<p>you don't have any api keys yet</p>
			) : (
				<div style="margin-top: -10px">
					<ul>
						{keys.map((key) => (
							<li>
								<code>{key.key_hash}</code>{" "}
								<a data-keyid={key.id} class="delete-key">
									&times;
								</a>
							</li>
						))}
					</ul>
				</div>
			)
		}
		<a id="add-key" role="button"> + generate </a>
		<br />
		<h3>history</h3>
		<HistoryTimeline actions={user_history} view="account" />
	</div>
</PageLayout>

<script>
	import { getApiClient } from "../utils/api-client";
	
	async function add_key() {
		try {
			const apiClient = getApiClient();
			const result = await apiClient.auth.keys.create();
			console.log(result);
			location.reload();
		} catch (error) {
			console.error(error);
		}
	}

	async function delete_key(id: string) {
		try {
			const apiClient = getApiClient();
			await apiClient.auth.keys.revoke(id);
			location.reload();
		} catch (error) {
			console.error(error);
			alert(error);
		}
	}

	document.getElementById("add-key")?.addEventListener("click", add_key);
	document.querySelectorAll(".delete-key").forEach((el) => {
		el.addEventListener("click", (e) => {
			// @ts-ignore
			const keyid = e.target.getAttribute("data-keyid");
			delete_key(keyid);
		});
	});
</script>
