.react-datepicker {
    @apply flex bg-gray-100 dark:bg-base-accent-primary border-1  border-gray-300 dark:border-borders-secondary text-base-text-subtlish font-sans
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.react-datepicker__time-list::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.react-datepicker__time-list {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    @apply text-base-text-subtlish
}

.react-datepicker__header {
    @apply bg-white border-gray-300 dark:bg-base-accent-secondary dark:border-b-borders-secondary
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    @apply text-base-text-dark dark:text-base-text-secondary
}

.react-datepicker__time-container {
    @apply border-gray-300 dark:border-borders-secondary border-l-1
}

.react-datepicker__time-container .react-datepicker__time {
    @apply bg-gray-100 dark:bg-base-accent-primary
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item, .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    @apply hover:bg-base-accent-tertiary
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected, .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    @apply text-base-text-primary font-bold bg-accent-btn-primary hover:bg-accent-btn-primary-hover
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
    @apply border-b-base-text-subtle
}

.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
    @apply border-base-text-subtle
}

.react-datepicker__navigation-icon--next, .react-datepicker__navigation-icon--previous {
    @apply top-1
}