@tailwind base;
@tailwind components;
@tailwind utilities;

.edit-todo
input,
textarea,
select {
	/* @apply rounded-md bg-pad-gray-300 px-2 py-0.5 focus:outline-none focus:ring-2 focus:ring-pad-purple-50; */
	/* disable default styling */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#edit-todo > label {
	@apply my-auto text-left text-pad-gray-50 md:text-right;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

html {
	overflow-y: overlay;
}

.styled-input input, textarea, select {
	@apply bg-base-accent-primary focus:ring-1 focus:ring-accent-btn-primary outline-none rounded-md py-1 px-2
}
