@tailwind base;
@tailwind components;
@tailwind utilities;

.edit-todo
input,
textarea,
select {
	/* @apply rounded-md bg-pad-gray-300 px-2 py-0.5 focus:outline-none focus:ring-2 focus:ring-pad-purple-50; */
	/* disable default styling */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#edit-todo > label {
	@apply my-auto text-left text-pad-gray-50 md:text-right;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

html {
	overflow-y: overlay;
	color-scheme: light dark;
}

.styled-input input, textarea, select {
	@apply w-full bg-gray-50 dark:bg-base-accent-primary focus:ring-1 focus:ring-accent-btn-primary outline-none rounded-md py-1 px-2 border-1 border-gray-300 dark:border-borders-primary placeholder-base-text-dark
}

.markdown a {
	@apply text-blue-300 hover:text-blue-200 hover:underline 
}

.markdown h1 {
	@apply text-3xl font-semibold text-base-text-secondary mt-4 mb-1
}

.markdown h2 {
	@apply text-2xl font-semibold mt-4 mb-1
}

.markdown h3 {
	@apply text-xl mt-4 mb-1
}

.markdown h4 {
	@apply text-lg mt-4 mb-1
} 

.markdown h5 {
	@apply text-base mt-4 mb-1
}

.markdown h6 {
	@apply text-sm mt-4 mb-1
}

.markdown hr {
	@apply border-borders-secondary my-2 
}


.markdown ul, ol {
	@apply list-disc list-inside ml-4
}