---
import { getServerApiClient, rethrow } from "@/utils/api-client";
import TagEditor from "@/components/solid/TagEditor";
import PageLayout from "@/layouts/PageLayout.astro";

const user = Astro.locals.user;
if (!user) return new Response(null, { status: 401, statusText: "Unauthorized" });

const apiClient = getServerApiClient(Astro.locals);
const { tags, error } = await apiClient.tags.list();
if (error) return rethrow(error);
---

<PageLayout title="Tags - devpad">
	<main>
		<section>
			<h5>tags</h5>
			<br />
			<TagEditor client:load tags={tags} owner_id={user.id} />
		</section>
	</main>
</PageLayout>
