:root {
	--bg-primary: white;
	--text-primary: black;
	--text-link: #59565f;
	--hover-filter: brightness(50%);
	--text-secondary: #545059;
	--text-tertiary: #8c8a9a;
	font-family: "neue-haas-grotesk-text", "Inter", Helvetica, sans-serif;

	--input-background: #f9f8fb;
	--input-border: #e1e2ea;
	--input-placeholder: #a0a0a0;
	--input-text: var(--text-primary);
	--input-focus: var(--text-tertiary);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-primary: oklch(21.55% 0.014 278.77);
		--text-primary: white;
		--text-secondary: #cbcad5;
		--text-tertiary: #b0adba;
		--text-link: #989aa6;
		--hover-filter: brightness(150%);

		--input-background: #2d2b34;
		--input-border: #444053;
		--input-placeholder: #6b6b6b;
		--input-text: var(--text-primary);
		--input-focus: var(--text-link);
	}
}

* {
	box-sizing: border-box;
}

section {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	gap: 2px;
}

li {
	margin-bottom: 5px;
}
ul li:last-child {
	margin-bottom: 0;
}

header {
	display: flex;
	justify-content: space-between;
}
body {
	background: var(--bg-primary);
	color: var(--text-secondary);
	margin: unset;
}

body {
	width: calc(100% - 2em);
	min-height: 100vh;
	height: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav {
	display: flex;
	gap: 10px;
}

#container, footer {
	max-width: 100%;
	width: 700px;
}

nav {
	display: flex;
	gap: 5px;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
	appearance: none;
	margin: unset;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
	color: var(--text-primary);
}

a {
	text-decoration: none;
	color: var(--text-link);
	transition: filter 0.15s;
}

a.active {
	color: var(--text-primary);
	text-decoration: underline;
}

a:hover {
	filter: var(--hover-filter);
}

a.underlined:hover {
	text-decoration: underline;
}

h1 {
	font-size: x-large;
	font-weight: bold;
}

h2 {
	font-size: x-large;
}

h3,
h4 {
	font-size: large;
}

h5,
h6 {
	font-size: medium;
}

.editor {
	display: grid;
	gap: 2px;
	max-width: 28rem;
}

p.description {
	color: var(--text-tertiary);
}

.flex-col {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.flex-col > section {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.version-tag {
	font-size: x-small;
	font-family: monospace;
	border: 1px solid var(--text-tertiary);
	border-radius: 2px;
	padding: 2px 4px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	gap: 4px;
	align-items: center;
}

footer {
	margin-top: auto;
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 10px;
}


input[type="text"], select, textarea {
	font-family: inherit;
	border: 1px solid var(--input-border);
	border-radius: 4px;
	background: var(--input-background);
	color: var(--input-text);
	padding: 2px 2px 2px 5px;
	font-size: smaller;
}

select {
	-webkit-appearance: none;
	padding-right: 12px;
}

input[type="text"]::placeholder, select::placeholder, textarea::placeholder {
	color: var(--input-placeholder);
}

input[type="text"]:focus, select:focus, textarea:focus {
	outline: none;
	border: 1px solid var(--input-focus);
}


.date-highlighted {
	.date {
		filter: brightness(100%);
	}
	.year {
		filter: brightness(70%);
	}
}


.lucide {
	width: 1.1rem;
	height: 1.1rem;
}


.priority-low {
	/* mix green and --text-secondary */
	color: color-mix(in srgb, var(--text-secondary) 70%, green);
}

.priority-medium {
	color: color-mix(in srgb, var(--text-secondary) 70%, orange);
}

.priority-high {
	color: color-mix(in srgb, var(--text-secondary) 70%, red);
}