---
import Layout from "./Layout.astro";
interface Props {
	title: string;
}
const user = Astro.locals.user;

const { title } = Astro.props;

const pages = [
	{ name: "home", href: "/" },
	{ name: "projects", href: "/project" },
	{ name: "tasks", href: "/todo" },
	{ name: "account", href: "/account" },
];

// if not logged in, insert 'explore' at position 1
if (!user) {
	pages.splice(1, 0, { name: "explore", href: "/explore" });
}

// get the active page (excluding home)
const search_pages = pages.filter((p) => p.href != "/");
const active = search_pages.find((p) => Astro.url.pathname.startsWith(p.href))?.name ?? "home";
---

<Layout title={title}>
	<body>
		<div id="container">
			<header>
				<h5>devpad</h5>
				<nav>
					{pages.map((p) => <a href={p.href} class={active == p.name ? 'active' : ''}>{p.name}</a>)}
				</nav>
			</header>
			<br />
			<slot />
		</div>
	</body>
</Layout>
