---
import Layout from "./Layout.astro";
interface Props {
	title: string;
}
const user = Astro.locals.user;

const { title } = Astro.props;

const pages = [
	{ name: "home", href: "/" },
	{ name: "projects", href: "/project" },
	{ name: "tasks", href: "/todo" },
	{ name: "account", href: "/account" },
	{ name: "login", href: "/api/auth/login" }
];

if (user) {
	pages.splice(4, 1);
} else {
	pages.splice(3, 1);
}

// get the active page (excluding home)
const search_pages = pages.filter((p) => p.href != "/");
const active = search_pages.find((p) => Astro.url.pathname.startsWith(p.href))?.name ?? "home";
---

<Layout title={title}>
	<body>
		<div id="container">
			<header>
				<h5>devpad</h5>
				<nav>
					{pages.map((p) => <a href={p.href} class={active == p.name ? 'active' : ''}>{p.name}</a>)}
				</nav>
			</header>
			<br />
			<slot />
		</div>
		<br />
		<br />
		<footer>
			<p>© 2024 devpad</p>
		</footer>
	</body>
</Layout>
