---
import { getProject } from "../../../server/projects";
import PageLayout from "../../../layouts/PageLayout.astro";

const { project_id } = Astro.params;
const user = Astro.locals.user;

const { project, error } = await getProject(user?.id ?? null, project_id);
---

<PageLayout title={`Codebase - ${project_id}`}>
{error ? <p>Error: {error}</p> :
	<main>
		<h2>{project?.name}</h2>
		<button class='scan' style="width: 50px">Scan</button>
		<button class='test' style="width: 50px">Test</button>
		<br />
		<br />
		<p>Output: </p>
		<pre id='output'>0</pre>
	</main>
	}
</PageLayout>

<style>
main {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
</style>

<script define:vars={{ project_id }}>
const output = document.getElementById("output");
if (!output) throw new Error("Output element not found");
document.querySelector('button.scan')?.addEventListener('click', async () => {
	const response = await fetch(`/api/todo/scan?project_id=${project_id}`, { method: "POST" });
	if (!response.ok) {
		output.innerText = 'Error: ' + response.statusText;
	}
	const data = await response.text();
	output.innerText = data;
});

document.querySelector('button.test')?.addEventListener('click', async () => {
	const response = await fetch(`/api/todo/test`, { method: "POST" });
	if (!response.ok) {
		output.innerText = 'Error: ' + response.statusText;
	}
	const reader = response.body.getReader();

output.innerText = '';
while (true) {
  const {value, done} = await reader.read();
  if (done) break;
	output.innerText += String.fromCharCode(...value);
}
});
</script>
