---
import ProjectSettings from "../../components/ProjectSettings.astro";
import Layout from "../../layouts/Layout.astro";

const session = Astro.locals.session;

const repos = await fetch("https://api.github.com/user/repos?sort=updated&per_page=100", { headers: { "Accept": "application/vnd.github+json", "Authorization": `Bearer ${session?.access_token}` }});

const repos_result = await repos.json();
---

<Layout title="Create Project">
	<main>
		<h1>create project</h1>
		<h3>import project</h3>
			<input id='project-importer' type="text" list="repo-list" />
			<a id='importer-clear' href="#">clear</a>
		<h3>--- or ---</h3>
		<ProjectSettings project={null} back={"/project"} />
		<br />
	</main>

	<datalist id='repo-list'>
		{repos_result.map((r: any) => <option value={r.name}></option>)}	
	</datalist>
</Layout>

<script define:vars={{ repos_result }}>

	function import_project() {
		const project_name = event.target.value;
		const project_data = repos_result?.find((p) => p.name == project_name);
		if (!project_data) {
			clear_data();
			return;
		}
		// fill in input fields with data from github project 
		document.getElementById("project_id").value = project_data['name'];
		document.getElementById("name").value = project_data['name'];
		document.getElementById("description").value = project_data['description'];
		document.getElementById("visibility").value = project_data['visibility'];

		document.getElementById("github_url").value = project_data['html_url'];
		document.getElementById("github_url").disabled = true;
		document.getElementById("github_repo_id").value = Number(project_data['id']);
	}

	function clear_data() {
		["project-importer", "project_id", "name", "description", "visibility", "github_url", "github_repo_id"].forEach((id) => {
			document.getElementById(id).value = "";
			document.getElementById(id).disabled = false;
		});
	}

	document.getElementById("project-importer").addEventListener('change', import_project);
	document.getElementById("importer-clear").addEventListener('click', clear_data);
</script>


