---
import ProjectSettings from "../../components/ProjectSettings.astro";
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Create Project">
	<main>
		<h1>create project</h1>
		<ProjectSettings project={null} back={"/project"} />
	</main>
</Layout>


