---
import Layout from '../../layouts/Layout.astro';
import { getUserProjects } from '../../server/projects';
const user = Astro.locals.user;

const projects = user ? await getUserProjects(user.id) : [];
const codebases = projects.map((p) => p.project_id);
---

<Layout title="Project Manager">
	<main>
	{user ?
	(<>
		<h1>projects</h1>
		<section>
			{codebases.map((c) => <a href=`/project/${c}`>{c}</a>)}
		</section>
		<br />
		<a href="/project/create">+ add</a>
		</>)
	: (<>
		<p>You must be logged in</p>
		<a href="api/auth/login">login</a>
	</>)}
	</main>
</Layout>


<style>
section {
	display: flex;
	flex-direction: column;
}
</style>
