---
import PageLayout from "../../layouts/PageLayout.astro";
import { getUserProjects } from "../../server/projects";
import GithubLogin from "../../components/solid/GithubLogin";
const user = Astro.locals.user;

const projects = user ? await getUserProjects(user.id) : [];
const codebases = projects
  .filter((p) => p.visibility != "DELETED")
  .map((p) => p.project_id);
// const deleted = projects.filter((p) => p.visibility == "DELETED");
---

<PageLayout title="Projects - devpad">
  <main>
    {
      user && (
        <div>
          <section>
            <h3>projects</h3>
            <ul>
              {codebases.map((c) => (
                <li>
                  <a href={`project/${c}`}>{c}</a>
                </li>
              ))}
            </ul>
            <br />
          </section>
          <a href="/project/create">+ add</a>
        </div>
      )
    }
    {
      !user && (
        <div>
          <p>you must be logged in</p>
          <GithubLogin client:load />
        </div>
      )
    }
  </main>
</PageLayout>
