---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>explore</h1>
		<br />
		<section>
			<div><h2>todo tracker</h2><span>v2.2</span></div>
			<p>
				keep track of your in-code todo notes across github projects, assign
				priority, due dates, descriptions & checklists to each task, and link it
				back to the destination in your codebase
			</p>
			<a href="/todo">get started</a>
		</section>
		<br />
		<section>
			<div><h2>project manager</h2><span>v1.0</span></div>
			<p>
				manage your side projects & link github repo for easy integration with
				todo-tracker. manage groups of tasks under 'goals', build a development
				raodmap, and view recent activity for each project
			</p>
			<a>get started</a>
		</section>
		<br />
		<section>
			<div><h2>task calendar</h2><span>v0.0</span></div>
			<p>
				view upcoming deadlines for todo tasks, project milestones and other
				defined deliverables. schedule blocks of work for each project & write a
				report after completion that can be viewed from the project manager
			</p>
			<a>get started</a>
		</section>
	</main>
</Layout>

<style>
	h1 {
		text-align: center;
	}

	div {
		display: flex;
		gap: 5px;
		align-items: end;
		justify-content: center;
	}
	div span {
		padding-bottom: 3px;
	}
	a {
		padding-top: 0.5rem;
		text-align: center;
		display: block;
	}
</style>
