---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section>
			<h1>devpad</h1>
			<p>for developers.</p>
			<br />
			<nav>
				<a>explore</a>
				<a>api</a>
				<a>login</a>
			</nav>
		</section>
	</main>
</Layout>


<style>
	nav {
		display: flex;
		flex-direction: column;
	}
</style>	
