---
import PageLayout from "@/layouts/PageLayout.astro";
import ProjectLayout from "@/layouts/ProjectLayout.astro";
import { getProject } from "@/utils/api-client";

const project_id = Astro.params.project_id!;

const guard = await getProject(Astro);
if (guard instanceof Response) return guard;
const { project } = guard;
---

<PageLayout title={`${project_id} - devpad`}>
	<ProjectLayout project_id={project_id}>
		<p>{project!.description}</p>
		{project!.repo_url && <a href={project!.repo_url}>{project!.repo_url}</a>}
		<p>
			<span>{project!.status?.toLowerCase()}</span><span>, </span>{project!.visibility?.toLowerCase()}<span></span>
		</p>
	</ProjectLayout>
</PageLayout>
